<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
  <head>
    <meta http-equiv="content-language" content="ja" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta name="verify-v1" content="TXsvkm6L+DjL5GnJSuBzBq19gMRXGjVKXeaBFgb6iSw=" />
    <meta name="description" content="秋葉原から発信する学生によるリレーショナルアートプロジェクトポータルサイト。" />
    <meta name="keywords" content="アートプロジェクト,ななちゃん,ナナチャン,nanachan,7ch,七色チャンネル,nanairo channel,七色ちゃんねる,東京芸術大学,先端芸術,メディアセンター,秋葉原,アーツちよだ3331,コマンドA,中村政人" />
    <meta name="google-site-verification" content="ByTGSnPN0teNTwU_AXwx1PaCxDZiLFOxntJpHpAzywQ" />
    <title>WebViewer | ななチャンラボ</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
  </head>
  <body>
    <a id="top"></a>

    <div id="header"><!-- header -->
      <a href="index.html" id="logo_nanachan" class="rmv-t">
        <h4>学生メディアセンター</h4>
        <h1>なないろチャンネル</h1>
      </a>

      <!--
      <div class="clear"></div>
      <div id="menu">
        <ul class="menu">
          <li class="menuAbout"><a href="about.html">ななチャンとは？</a></li>
          <li class="menuPrograms"><a href="programs.html">番組・イベント表</a></li>
          <li class="menuArchives"><a href="archives.html">アーカイヴ</a></li>
          <li class="menuLinks"><a href="links.html">リンク</a></li>
          <li class="menuAccess"><a href="access.html">交通アクセス</a></li>
          <li class="menuContact"><a href="contact.html">連絡先</a></li>
          <li class="menuSponsor"><a href="sponsor.html">スポンサー</a></li>
        </ul>
      </div>
      -->
    </div><!-- header -->
    
    
    <div id="main">

      <%= yield %>

    </div><!-- wrapall -->


    <div id="footer">
      <div id="copyright">Copyright &copy; Media Center of Students 7ch. All Rights Reserved.</div>
      <div id="logo_links">
        <a href="http://www.bh-project.jp/" class="rmv-t" id="logo_bunpro" target="_blank">東京文化発信プロジェクト</a>
        <a href="http://www.commandn.net/" class="rmv-t" id="logo_commandn" target="_blank">合同会社コマンドN</a>
      </div>
      <div class="clear"></div>
    </div><!-- footer -->
  
  </body>
</html>

