<html>
  <head>
    <title>Test View</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/testview.js"></script>
  </head>
  <body onload="loadStatus()">
    <div id="tweets" style="border:solid; border-width:1px;">
      Loading...
    </div>
  </body>
</html>

