#displays {
  padding-left: 10px;
  width: 490px;
  float: left;
}
#twitter {
  width: 100%;
  float: right;
  margin-left: -510px;
  margin-right: 10px;
}
#twitter>* {
  margin-left: 510px;
}
#twitter-post {
  border: solid;
  border-width: 3px;
  height: 44px;
  padding: 5px;
  margin-bottom: 5px;
}

/*
#tweet-post {
  border: solid;
  border-width: 1px;
  width: 500px;
  float: left;
} */
#tweet-post-input {
  margin-top: 3px;
  width: 500px;
}
#tweet-post-button {
  width: 70px;
  /* float: right; */
}
#tweets {
  overflow: scroll;
  border: solid;
  border-width: 3px;
  height: 525px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.tweet {
  padding: 0;
  /* height: 48px; */
  margin-bottom: 4px;
}
.tweet img {
  width: 48px;
  height: 48px;
  float: left;
}
.tweet-text {
  padding-left: 58px;
  padding-right: 10px;
  text-align: left;
  clear: right;
}
.tweet-menu {
  padding-left: 58px;
  /* float: left; */
}
.tips {
  position: absolute;
  border: solid;
  border-width: 1px;
  background-color: white;
}
